#root {
  max-width: 1280px;
  text-align: center;
  margin: 0%;
}

nav{
  background-color: rgb(59, 79, 72);
  margin: 0;
  padding: 20px;
  color:white;
  font-size: 26px;
}

a {
  text-decoration: none; 
  color: inherit;
}


.App section a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;
  padding: 20px;
  border-radius: 5px;
  min-height: 60px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: center;
  background-color: darkslategrey;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  height: 100vh;
  background-color: darkslategrey;
  color: white;
  width: 100px;
}

.App-header{
  width: 1480px;
  background-color: darkslategrey;
  color: white;
  padding: 20px;

}